.container {
  display: flex;
  flex-direction: column;
  width: 280px;
}
.text {
  color: red;
  display: flex;
  flex-direction: row;
}
.text1 {
  display: flex;
  flex-direction: column;
  font-weight: 900;
  color: gray;
}
.texts {
  display: flex;
  flex-direction: row;
  gap: 7px;
  font-size: 20px;
  font-weight: 900;
}
span {
  color: rgba(128, 128, 128, 0.733);
}
.text2 {
  color: black;
}
