.text {
  color: skyblue;
}
.text:hover {
  background-color: pink;
  font-size: 50px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: black;
  border: 1px solid black;
  /* 변형 관련된 속성 */
  transform: rotate(45deg) scale(2);

  transition: all 10s;
}

.box:hover {
  transform: rotate(45deg) scale(2);
  /* background-color: yellow;
  border-radius: 9999px; */
}
